.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;

  padding: 10px;

   a {
     font-family: "Roboto", sans-serif;

     color: #939393;

     text-align: center;
   }
  
  .nav__link_current {
    color: #000;
  }
}