* {
  margin: 0;
  padding: 0;

  &::-webkit-scrollbar {
    width: 5px;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: gray;
  }
  &::-webkit-scrollbar-track {

  }
}

a {
  text-decoration: none;
}

.app {
  height: 100vh;


}


