.button-ui {
  border: 1px solid #000;
  border-radius: 5px;

  padding: 5px;

  cursor: pointer;

  font-family: "Roboto", sans-serif;

  &:hover {
    border-color: #595959;
    color: #595959;
  }
}